html,body {
    width:100%;
    margin:0;
    padding:0;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



#map_canvas{

    height: 400px;
    padding:0px;
    
    

}




#right-panel{

    height: 0px;
    padding-left:13px;
    overflow:hidden;
}


/*Map section style*/
#map_section{
   height:400px !important;
   background-color:white !important;
   padding:0 !important; 
  
}

#shopid{
    width:100%;
    color:black !important;
    padding:5px;
    
}

#origin_location{
    width:100%!important;
    padding:10px!important;

}

#destination{
    width:100%;
    padding:10px;
  
}

.fromgroupStyle{
    width:100%!important;
    padding:10px!important;
}

#servicesTitle{
    
}

#map_container{
    width:100%;
    }

#contact{
    background-color:#222!important;
    color:white;
}

/*
    custom section for real time info
*/

#real_time_info_bikes{
    background-color:#222!important;
    color:white;
    
}

.pCustStyle{
   color:white !important;
}